root = true

[*]
charset = utf-8
end_of_line = crlf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cs,csx,vb,vbx}]
indent_size = 4

[*.{json,js,ts,tsx,html,css,scss,less,md,yml,yaml}]
indent_size = 2

# C# Diagnostic Rules
[*.cs]

# IDE0290: Use primary constructor
dotnet_diagnostic.IDE0290.severity = none